<div layout="column" style="height: 100%;">

    <div layout="row" style="width: 100%; height: 100%;">
        <div flex=30 flex-md=20 flex-sm=10 flex-xs=10></div>

        <div flex=40 flex-md=60 flex-sm=80 flex-xs=80 layout="column">
            <md-input-container style="margin-top: 2rem;">
                <label>{{'firstName' | translate}}</label>
                <input type="text" id="firstName" ng-model="signUpPayload.firstName" ng-change="onFormElementChange('userRequestDto_firstName')">
                <span class="formItemErrorMessage">{{$root.formElementsErrors.userRequestDto_firstName}}</span>                
            </md-input-container>

            <md-input-container>
                <label>{{'lastName' | translate}}</label>
                <input type="text" id="lastName" ng-model="signUpPayload.lastName" ng-change="onFormElementChange('userRequestDto_lastName')">
                <span class="formItemErrorMessage">{{$root.formElementsErrors.userRequestDto_lastName}}</span>                
            </md-input-container>

            <md-input-container>
                <label>{{'email' | translate}}</label>
                <input type="email" id="username" ng-model="signUpPayload.username" ng-change="onFormElementChange('userRequestDto_username')">
                <span class="formItemErrorMessage">{{$root.formElementsErrors.userRequestDto_username}}</span>                
            </md-input-container>

            <md-input-container>
                <label>{{'password' | translate}}</label>
                <input type="password" id="password" ng-model="signUpPayload.password" ng-change="onFormElementChange('userRequestDto_password')">
                <span class="formItemErrorMessage">{{$root.formElementsErrors.userRequestDto_password}}</span>                
            </md-input-container>

            <md-input-container>
                <label>{{'confirmPassword' | translate}}</label>
                <input type="password" id="confirmPassword" ng-model="confirmPassword">
            </md-input-container>
            
            <md-button type="submit" id="submitBtn" ng-click="onSubmit()" class="md-raised md-primary" style="margin-bottom: 2rem;">{{'submit' | translate}}</md-button>

        </div>

        <div flex=30 flex-md=20 flex-sm=10 flex-xs=10></div>
    </div>

</div>
