<div style="height: 100%;" layout="column" layout-align="center center">

    <div layout="row" style="width: 100%;">
        <div flex=30 flex-md=20 flex-sm=10></div>

        <div flex=40 flex-md=60 flex-sm=80 layout="column">
            <md-input-container>
                <label>First Name</label>
                <input type="text" id="firstName" ng-model="signUpPayload.firstName">
            </md-input-container>

            <md-input-container>
                <label>Last Name</label>
                <input type="text" id="lastName" ng-model="signUpPayload.lastName">
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input type="email" id="username" ng-model="signUpPayload.username">
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" id="password" ng-model="signUpPayload.password">
            </md-input-container>

            <md-input-container>
                <label>Confirm password</label>
                <input type="password" id="confirmPassword" ng-model="confirmPassword">
            </md-input-container>            

            <md-button type="submit" id="submitBtn" ng-click="onSubmit()" class="md-raised md-primary">SUBMIT</md-button>

        </div>

        <div flex=30 flex-md=20 flex-sm=10></div>
    </div>

</div>