	@successMsgColor: #75FF75;
	@errorMsgColor: #FF704D;  

	.successToast{
	  	color: @successMsgColor !important;
	}

	.errorToast{
		color: @errorMsgColor !important;
	}

	.formItemErrorMessage{
		color: red;
		margin-top: -20px;
		font-size: 9pt;
		margin-left: 5px;
	}
    
