<div style="height: 100%;" layout="column" layout-align="center center">

    <div layout="row" style="width: 100%;">
        <div flex=30 flex-md=20 flex-sm=10></div>

        <div flex=40 flex-md=60 flex-sm=80 layout="column">
            <md-input-container>
                <label>Email</label>
                <input type="text" id="username" ng-model="username">
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" id="password" ng-model="password">
            </md-input-container>

            <md-input-container>
                <md-checkbox id="remember_me" name="remember-me" ng-model="remember_me" class="md-primary">
                    Remember me
                </md-checkbox>
            </md-input-container>

            <md-button type="submit" id="loginBtn" ng-click="onLogin()" class="md-raised md-primary">LOGIN</md-button>
            <md-button type="submit" id="signUpBtn" ng-click="onSignUp()" class="md-raised md-primary">SIGN UP</md-button>
            <md-button type="submit" id="forgotBtn" ng-click="onForgotPassword()" class="md-raised md-primary">FORGOT PASSWORD</md-button>
        </div>

        <div flex=30 flex-md=20 flex-sm=10></div>
    </div>

</div>